<main>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>Register</h1>
        <form action="/api/sessions/register" method="POST" class="form-group w-40">
            <input type="text" name="first_name" class="form-control m-2" placeholder="introduzca el nombre">
            <input type="text" name="last_name" class="form-control m-2" placeholder="ingrese el apellido">
            <input type="text" name="email" class="form-control m-2" placeholder="ingrese el email">
            <input type="text" name="password" class="form-control m-2" placeholder="ingrese el pass">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <button class="btn btn-dark m2">Enviar</button>
                <a href="/login">Login</a>
            </div>
        </form>
    </div>
</main>